<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>首页</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
	
	<!-- Owl Carousel Assets -->
    <link th:href="@{/owl-carousel/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/owl-carousel/owl.theme.css}" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" th:href="@{/font-awesome-4.4.0/css/font-awesome.min.css}"  type="text/css">
	
	<!-- jQuery -->
	<script th:src="@{/js/jquery-2.1.1.js}"></script>
	
	<!-- Core JavaScript Files -->  	 
    <script th:src="@{/js/bootstrap.min.js}"></script>

	<script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/commons.js}"></script>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script th:src="@{/js/html5shiv.js}"></script>
        <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>

<body>
<header th:replace="commons :: commonHeader"></header>

	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="index-page">
		<div class="container">
			<div class="row">
				<div class="featured">
					<div class="main-vid">
						<div class="col-md-6">
							<div class="zoom-container" id="vid8">
                                <span class="vid" style="display: none">9</span><!-- 要播放的视频id，给js调用 -->
								<div class="zoom-caption">
									<span class="sifttag">视频标签</span>
									<a class="sifturl" href="">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p class="siftvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
								</div>
								<img class="siftimage" style="height: 313px;width: 549px" src="" />
							</div>
						</div>
					</div>
					<div class="sub-vid">
						<div class="col-md-3">
							<div class="zoom-container" id="vid9">
                                <span class="vid" style="display: none">10</span><!-- 要播放的视频id，给js调用 -->
								<div class="zoom-caption">
									<span class="sifttag">视频标签</span>
									<a class="sifturl" href="">
										<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
									</a>
									<p class="siftvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
								</div>
								<img class="siftimage" style="height: 145px;width: 260px" src="" />
							</div>
                            <div class="zoom-container" id="vid11">
                                <span class="vid" style="display: none">12</span><!-- 要播放的视频id，给js调用 -->
                                <div class="zoom-caption">
                                    <span class="sifttag">视频标签</span>
                                    <a class="sifturl" href="">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p class="siftvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                </div>
                                <img class="siftimage" style="height: 145px;width: 260px" src="" />
                            </div>
                        </div>
						<div class="col-md-3">
                            <div class="zoom-container" id="vid10">
                                <span class="vid" style="display: none">11</span><!-- 要播放的视频id，给js调用 -->
                                <div class="zoom-caption">
                                    <span class="sifttag">视频标签</span>
                                    <a class="sifturl" href="">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p class="siftvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                </div>
                                <img class="siftimage" style="height: 145px;width: 260px" src="" />
                            </div>
                            <div class="zoom-container" id="vid12">
                                <span class="vid" style="display: none">13</span><!-- 要播放的视频id，给js调用 -->
                                <div class="zoom-caption">
                                    <span class="sifttag">视频标签</span>
                                    <a class="sifturl" href="">
                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                    </a>
                                    <p class="siftvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                </div>
                                <img class="siftimage" style="height: 145px;width: 260px" src="" />
                            </div>
                        </div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="row">
				<div id="main-content" class="col-md-8">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-globe"></i>精选视频</h2>
						</div>
						<div class="box-content">
							<div class="row">
								<div class="col-md-6">
                                    <div id="vid0">
                                        <span class="vid" style="display: none">1</span><!-- 要播放的视频id，给js调用 -->
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span class="sifttag">视频标签</span>
                                                    <a class="sifturl" href="">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p class="siftvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                                </div>
                                                <img style="height:198px;width:354px" class="siftimage" src="" />
                                            </div>
                                            <h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="siftvname sifturl">视频名称</a></h3>
                                            <div class="info">
                                                <h5>上传人：<a class="siftusername">Kelvin</a></h5>
                                                <span class="siftdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
                                                <span class="countlooks"><i class="fa fa-eye"></i>1000</span>
                                            </div>
                                        </div>
                                        <p class="more siftintroduce" style="height: 102px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 4;text-overflow:ellipsis;overflow: hidden;text-indent:2em">

                                        </p>
                                    </div>
									<div class="line"></div>
									<div class="post wrap-vid" id="vid2">
                                        <span class="vid" style="display: none">3</span><!-- 要播放的视频id，给js调用 -->
										<div class="zoom-container">
											<div class="zoom-caption">
												<span class="sifttag">视频标签</span>
												<a class="sifturl" href="">
													<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
												</a>
												<p class="siftvname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
											</div>
											<img class="siftimage" style="height: 78px;width:140px" src="" />
										</div>
										<div class="wrapper">
											<h5 class="vid-name"><a href="" class="siftvname sifturl" style="width:190px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
											<div class="info">
                                                <h6>上传人：<a class="siftusername">Kelvin</a></h6>
                                                <span class="siftdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
											</div>
										</div>
									</div>
                                    <div class="post wrap-vid" id="vid4">
                                        <span class="vid" style="display: none">5</span><!-- 要播放的视频id，给js调用 -->
                                        <div class="zoom-container">
                                            <div class="zoom-caption">
                                                <span class="sifttag">视频标签</span>
                                                <a class="sifturl" href="">
                                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                </a>
                                                <p class="siftvname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                            </div>
                                            <img class="siftimage" style="height: 78px;width:140px" src="" />
                                        </div>
                                        <div class="wrapper">
                                            <h5 class="vid-name"><a href="" class="siftvname sifturl" style="width:190px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
                                            <div class="info">
                                                <h6>上传人：<a class="siftusername">Kelvin</a></h6>
                                                <span class="siftdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post wrap-vid" id="vid6">
                                        <span class="vid" style="display: none">7</span><!-- 要播放的视频id，给js调用 -->
                                        <div class="zoom-container">
                                            <div class="zoom-caption">
                                                <span class="sifttag">视频标签</span>
                                                <a class="sifturl" href="">
                                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                </a>
                                                <p class="siftvname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                            </div>
                                            <img class="siftimage" style="height: 78px;width:140px" src="" />
                                        </div>
                                        <div class="wrapper">
                                            <h5 class="vid-name"><a href="" class="siftvname sifturl" style="width:190px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
                                            <div class="info">
                                                <h6>上传人：<a class="siftusername">Kelvin</a></h6>
                                                <span class="siftdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="col-md-6">
                                    <div id="vid1">
                                        <span class="vid" style="display: none">2</span><!-- 要播放的视频id，给js调用 -->
                                        <div class="wrap-vid">
                                            <div class="zoom-container">
                                                <div class="zoom-caption">
                                                    <span class="sifttag">视频标签</span>
                                                    <a class="sifturl" href="">
                                                        <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                    </a>
                                                    <p class="siftvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                                </div>
                                                <img style="height:198px;width:354px" class="siftimage" src="" />
                                            </div>
                                            <h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="siftvname sifturl">视频名称</a></h3>
                                            <div class="info">
                                                <h5>上传人：<a class="siftusername">Kelvin</a></h5>
                                                <span class="siftdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
                                                <span class="countlooks"><i class="fa fa-eye"></i>1000</span>
                                            </div>
                                        </div>
                                        <p class="more siftintroduce" style="height: 102px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 4;text-overflow:ellipsis;overflow: hidden;text-indent:2em">

                                        </p>
                                    </div>
                                    <div class="line"></div>
                                    <div class="post wrap-vid" id="vid3">
                                        <span class="vid" style="display: none">4</span><!-- 要播放的视频id，给js调用 -->
                                        <div class="zoom-container">
                                            <div class="zoom-caption">
                                                <span class="sifttag">视频标签</span>
                                                <a class="sifturl" href="">
                                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                </a>
                                                <p class="siftvname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                            </div>
                                            <img class="siftimage" style="height: 78px;width:140px" src="" />
                                        </div>
                                        <div class="wrapper">
                                            <h5 class="vid-name"><a href="" class="siftvname sifturl" style="width:190px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
                                            <div class="info">
                                                <h6>上传人：<a class="siftusername">Kelvin</a></h6>
                                                <span class="siftdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post wrap-vid" id="vid5">
                                        <span class="vid" style="display: none">6</span><!-- 要播放的视频id，给js调用 -->
                                        <div class="zoom-container">
                                            <div class="zoom-caption">
                                                <span class="sifttag">视频标签</span>
                                                <a class="sifturl" href="">
                                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                </a>
                                                <p class="siftvname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                            </div>
                                            <img class="siftimage" style="height: 78px;width:140px" src="" />
                                        </div>
                                        <div class="wrapper">
                                            <h5 class="vid-name"><a href="" class="siftvname sifturl" style="width:190px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
                                            <div class="info">
                                                <h6>上传人：<a class="siftusername">Kelvin</a></h6>
                                                <span class="siftdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post wrap-vid" id="vid7">
                                        <span class="vid" style="display: none">8</span><!-- 要播放的视频id，给js调用 -->
                                        <div class="zoom-container">
                                            <div class="zoom-caption">
                                                <span class="sifttag">视频标签</span>
                                                <a class="sifturl" href="">
                                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                </a>
                                                <p class="siftvname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                            </div>
                                            <img class="siftimage" style="height: 78px;width:140px" src="" />
                                        </div>
                                        <div class="wrapper">
                                            <h5 class="vid-name"><a href="" class="siftvname sifturl" style="width:190px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
                                            <div class="info">
                                                <h6>上传人：<a class="siftusername">Kelvin</a></h6>
                                                <span class="siftdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
						<div class="line"></div>
					</div>
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-globe"></i> 热门视频</h2>
						</div>
						<div class="box-content">
							<div class="row">
								<div class="col-md-6" id="look0">
									<div class="wrap-vid">
										<div class="zoom-container">
											<div class="zoom-caption">
												<span class="looktag">视频标签</span>
												<a class="lookurl" href="">
													<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
												</a>
												<p class="lookvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
											</div>
											<img style="height:198px;width:354px" class="lookimage" src="" />
										</div>
										<h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="lookvname lookurl">视频名称</a></h3>
										<div class="info">
                                            <h5>上传人：<a class="lookusername">Kelvin</a></h5>
                                            <span class="lookdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
                                            <span class="countlooks"><i class="fa fa-eye"></i>1000</span>
										</div>
									</div>
									<p class="more lookintroduce" style="display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 4;text-overflow:ellipsis;overflow: hidden;text-indent:2em">
                                                视频介绍
                                    </p>
								</div>
								<div class="col-md-6">
									<div id="look1" class="post wrap-vid">
										<div class="zoom-container">
											<div class="zoom-caption">
												<span class="looktag" >视频标签</span>
												<a class="lookurl" href="">
													<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
												</a>
												<p class="lookvname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
											</div>
											<img  style="height:78.35px;width:140px" class="lookimage" src="" />
										</div>
										<div class="wrapper">
											<h5 class="vid-name"><a href="" class="lookvname lookurl" style="width:155px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
											<div class="info">
                                                <h6>上传人：<a class="lookusername">Kelvin</a></h6>
                                                <span class="lookdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
											</div>
										</div>
									</div>
                                    <div id="look2" class="post wrap-vid">
                                        <div class="zoom-container">
                                            <div class="zoom-caption">
                                                <span class="looktag" >视频标签</span>
                                                <a class="lookurl" href="">
                                                    <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                                </a>
                                                <p class="lookvname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                            </div>
                                            <img  style="height:78.35px;width:140px" class="lookimage" src="" />
                                        </div>
                                        <div class="wrapper">
                                            <h5 class="vid-name"><a href="" class="lookvname lookurl" style="width:155px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
                                            <div class="info">
                                                <h6>上传人：<a class="lookusername">Kelvin</a></h6>
                                                <span class="lookdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                                <span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="look3" class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="looktag" >视频标签</span>
                                            <a class="lookurl" href="">
                                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                            </a>
                                            <p class="lookvname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                        </div>
                                        <img  style="height:78.35px;width:140px" class="lookimage" src="" />
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="" class="lookvname lookurl" style="width:155px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
                                        <div class="info">
                                            <h6>上传人：<a class="lookusername">Kelvin</a></h6>
                                            <span class="lookdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
                                        </div>
                                    </div>
                                </div>
                                    <div id="look4" class="post wrap-vid">
                                    <div class="zoom-container">
                                        <div class="zoom-caption">
                                            <span class="looktag" >视频标签</span>
                                            <a class="lookurl" href="">
                                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                                            </a>
                                            <p class="lookvname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
                                        </div>
                                        <img  style="height:78.35px;width:140px" class="lookimage" src="" />
                                    </div>
                                    <div class="wrapper">
                                        <h5 class="vid-name"><a href="" class="lookvname lookurl" style="width:155px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
                                        <div class="info">
                                            <h6>上传人：<a class="lookusername">Kelvin</a></h6>
                                            <span class="lookdate"><i class="fa fa-calendar"></i>25/3/2015</span>
                                            <span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
                                        </div>
                                    </div>
                                </div>
								</div>
							</div>
						</div>
						<div class="line"></div>
					</div>
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-play-circle-o"></i> 随机视频</h2>
						</div>
						<div class="box-content">
							<div class="row">
								<div class="col-md-4">
									<div id="rand0" class="wrap-vid">
										<div class="zoom-container">
											<div class="zoom-caption">
												<span class="randtag">视频标签</span>
												<a class="randurl" href="">
													<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
												</a>
												<p class="randvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
											</div>
											<img class="randimage" style="height:126.48px;width:226px" src="" />
										</div>
										<h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="randvname randurl">视频名称</a></h3>
										<div class="info">
											<h5>上传人： <a class="randusername">Kelvin</a></h5>
											<span class="randdate"><i class="fa fa-calendar"></i>25/3/2015</span>
											<br>
											<span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
											<span class="countlooks"><i class="fa fa-eye"></i>1000</span>
										</div>
									</div>
									<div id="rand3" class="wrap-vid">
										<div class="zoom-container">
											<div class="zoom-caption">
												<span class="randtag">视频标签</span>
												<a class="randurl" href="">
													<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
												</a>
												<p class="randvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
											</div>
											<img class="randimage" style="height:126.48px;width:226px" src="" />
										</div>
										<h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="randvname randurl">视频名称</a></h3>
										<div class="info">
											<h5>上传人： <a class="randusername">Kelvin</a></h5>
											<span class="randdate"><i class="fa fa-calendar"></i>25/3/2015</span>
											<br>
											<span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
											<span class="countlooks"><i class="fa fa-eye"></i>1000</span>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div id="rand1" class="wrap-vid">
										<div class="zoom-container">
											<div class="zoom-caption">
												<span class="randtag">视频标签</span>
												<a class="randurl" href="">
													<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
												</a>
												<p class="randvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
											</div>
											<img class="randimage" style="height:126.48px;width:226px" src="" />
										</div>
										<h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="randvname randurl">视频名称</a></h3>
										<div class="info">
											<h5>上传人： <a class="randusername">Kelvin</a></h5>
											<span class="randdate"><i class="fa fa-calendar"></i>25/3/2015</span>
											<br>
											<span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
											<span class="countlooks"><i class="fa fa-eye"></i>1000</span>
										</div>
									</div>
									<div id="rand4" class="wrap-vid">
										<div class="zoom-container">
											<div class="zoom-caption">
												<span class="randtag">视频标签</span>
												<a class="randurl" href="">
													<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
												</a>
												<p class="randvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
											</div>
											<img class="randimage" style="height:126.48px;width:226px" src="" />
										</div>
										<h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="randvname randurl">视频名称</a></h3>
										<div class="info">
											<h5>上传人： <a class="randusername">Kelvin</a></h5>
											<span class="randdate"><i class="fa fa-calendar"></i>25/3/2015</span>
											<br>
											<span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
											<span class="countlooks"><i class="fa fa-eye"></i>1000</span>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div id="rand2" class="wrap-vid">
										<div class="zoom-container">
											<div class="zoom-caption">
												<span class="randtag">视频标签</span>
												<a class="randurl" href="">
													<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
												</a>
												<p class="randvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
											</div>
											<img class="randimage" style="height:126.48px;width:226px" src="" />
										</div>
										<h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="randvname randurl">视频名称</a></h3>
										<div class="info">
											<h5>上传人： <a class="randusername">Kelvin</a></h5>
											<span class="randdate"><i class="fa fa-calendar"></i>25/3/2015</span>
											<br>
											<span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
											<span class="countlooks"><i class="fa fa-eye"></i>1000</span>
										</div>
									</div>
									<div id="rand5" class="wrap-vid">
										<div class="zoom-container">
											<div class="zoom-caption">
												<span class="randtag">视频标签</span>
												<a class="randurl" href="">
													<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
												</a>
												<p class="randvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
											</div>
											<img class="randimage" style="height:126.48px;width:226px" src="" />
										</div>
										<h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="randvname randurl">视频名称</a></h3>
										<div class="info">
											<h5>上传人： <a class="randusername">Kelvin</a></h5>
											<span class="randdate"><i class="fa fa-calendar"></i>25/3/2015</span>
											<br>
											<span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
											<span class="countlooks"><i class="fa fa-eye"></i>1000</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar" class="col-md-4">
					<!---- Start Widget ---->
					<div class="widget wid-follow">
						<div class="heading"><h4><i class="fa fa-users"></i>欢迎来到V视频</h4></div>
						<div class="content">
							<img th:src="@{/images/banner.jpg}" />
						</div>
						<div class="line"></div>
					</div>
					<!---- Start Widget ---->
					<div class="widget wid-post">
						<div class="heading"><h4><i class="fa fa-globe"></i> 最受欢迎视频</h4></div>
						<div class="content">
							<div id="like0" class="post wrap-vid">
								<div class="zoom-container">
									<div class="zoom-caption">
										<span class="likevtag" style="font-size:7px">视频标签</span>
										<a class="likeurl" href="">
											<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
										</a>
										<p class="likevname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
									</div>
									<img class="likeimage" style="height: 78px;width:140px" src="" />
								</div>
								<div class="wrapper">
									<h5 class="vid-name"><a href="" class="likevname likeurl" style="width:170px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
									<div class="info">
										<h6>上传人：<a class="likeusername">Kelvin</a></h6>
										<span class="likedate"><i class="fa fa-calendar"></i>25/3/2015</span>
										<span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
									</div>
								</div>
							</div>
							<div id="like1" class="post wrap-vid">
								<div class="zoom-container">
									<div class="zoom-caption">
										<span class="likevtag" style="font-size:7px">视频标签</span>
										<a class="likeurl" href="">
											<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
										</a>
										<p class="likevname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
									</div>
									<img class="likeimage" style="height: 78px;width:140px" src="" />
								</div>
								<div class="wrapper">
									<h5 class="vid-name"><a href="" class="likevname likeurl" style="width:170px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
									<div class="info">
										<h6>上传人：<a class="likeusername">Kelvin</a></h6>
										<span class="likedate"><i class="fa fa-calendar"></i>25/3/2015</span>
										<span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
									</div>
								</div>
							</div>
							<div id="like2" class="post wrap-vid">
								<div class="zoom-container">
									<div class="zoom-caption">
										<span class="likevtag" style="font-size:7px">视频标签</span>
										<a class="likeurl" href="">
											<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
										</a>
										<p class="likevname" style="font-size:12px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
									</div>
									<img class="likeimage" style="height: 78px;width:140px" src="" />
								</div>
								<div class="wrapper">
									<h5 class="vid-name"><a href="" class="likevname likeurl" style="width:170px;display: -webkit-box; word-break:break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow:ellipsis;overflow: hidden;">视频名称</a></h5>
									<div class="info">
										<h6>上传人：<a class="likeusername">Kelvin</a></h6>
										<span class="likedate"><i class="fa fa-calendar"></i>25/3/2015</span>
										<span class="countall"><i class="fa fa-heart"></i>1,200&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>1000</span>
									</div>
								</div>
							</div>
						</div>
						<div class="line"></div>
					</div>
					<!---- Start Widget ---->
					<div class="widget wid-news">
						<div class="heading"><h4><i class="fa fa-clock-o"></i> 最新视频</h4></div>
						<div class="content">
							<div id="new0" class="wrap-vid">
								<div class="zoom-container">
									<div class="zoom-caption">
										<span class="newtag">视频标签</span>
										<a class="newurl" href="">
											<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
										</a>
										<p class="newvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
									</div>
									<img style="height:195.33px;width:348.99px" class="newimage" src="" />
								</div>
								<h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="newvname newurl">视频名称</a></h3>
								<div class="info">
									<h5>上传人：<a class="newusername">Kelvin</a></h5>
									<span class="newdate"><i class="fa fa-calendar"></i>25/3/2015</span>
									<span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
									<span class="countlooks"><i class="fa fa-eye"></i>1000</span>
								</div>
							</div>
							<div id="new1" class="wrap-vid">
								<div class="zoom-container">
									<div class="zoom-caption">
										<span class="newtag">视频标签</span>
										<a class="newurl" href="">
											<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
										</a>
										<p class="newvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
									</div>
									<img style="height:195.33px;width:348.99px" class="newimage" src="" />
								</div>
								<h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="newvname newurl">视频名称</a></h3>
								<div class="info">
									<h5>上传人：<a class="newusername">Kelvin</a></h5>
									<span class="newdate"><i class="fa fa-calendar"></i>25/3/2015</span>
									<span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
									<span class="countlooks"><i class="fa fa-eye"></i>1000</span>
								</div>
							</div>
							<div id="new2" class="wrap-vid">
								<div class="zoom-container">
									<div class="zoom-caption">
										<span class="newtag">视频标签</span>
										<a class="newurl" href="">
											<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
										</a>
										<p class="newvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
									</div>
									<img style="height:195.33px;width:348.99px" class="newimage" src="" />
								</div>
								<h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="newvname newurl">视频名称</a></h3>
								<div class="info">
									<h5>上传人：<a class="newusername">Kelvin</a></h5>
									<span class="newdate"><i class="fa fa-calendar"></i>25/3/2015</span>
									<span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
									<span class="countlooks"><i class="fa fa-eye"></i>1000</span>
								</div>
							</div>
							<div id="new3" class="wrap-vid">
								<div class="zoom-container">
									<div class="zoom-caption">
										<span class="newtag">视频标签</span>
										<a class="newurl" href="">
											<i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
										</a>
										<p class="newvname" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">视频名称</p>
									</div>
									<img style="height:195.33px;width:348.99px" class="newimage" src="" />
								</div>
								<h3 class="vid-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="" class="newvname newurl">视频名称</a></h3>
								<div class="info">
									<h5>上传人：<a class="newusername">Kelvin</a></h5>
									<span class="newdate"><i class="fa fa-calendar"></i>25/3/2015</span>
									<span class="countlikes"><i class="fa fa-heart"></i>1,200</span>
									<span class="countlooks"><i class="fa fa-eye"></i>1000</span>
								</div>
							</div>
						</div>
						<div class="line"></div>
                        <br>
					</div>
			</div>
		</div>
	</div>

<footer th:replace="commons :: commonFooter"></footer>

	<!-- JS -->
	<script th:src="@{/owl-carousel/owl.carousel.js}"></script>
    <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 5,
        itemsDesktop : [1199,4],
        itemsDesktopSmall : [979,4]
      });
    });
    </script>
</body>
</html>
